.modal-overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  
  .modal-content-trello {
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 8px 0px rgba(54, 78, 126, 0.1);
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    overflow-y: auto;
  }
  
  .modal-content.dark {
    background-color: #2b2c37;
    color: white;
  }
  
  .modal-title {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    font-size: 0.875rem;
    color: gray;
    margin-bottom: 0.25rem;
  }
  
  .input-group input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid gray;
    font-size: 0.875rem;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .button-primary {
    background-color: #635fc7;
    color: white;
  }
  
  .button-secondary {
    background-color: white;
    color: #635fc7;
    border: 1px solid #635fc7;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  .column-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .column-item input {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid gray;
    font-size: 0.875rem;
  }
  
  .column-item img {
    margin-left: 1rem;
    cursor: pointer;
  }
  