/* styles.css */
.home-container {
    background-color: #f4f7fd;
    height: 100vh;
    display: flex;
    width: 100vw; /* Ekranın tamamını kaplar */
    overflow-x: hidden; /* Yatay kaydırmayı gizler */
    gap: 1.5rem;
}

.home-container.dark-mode {
    /* Karanlık mod için stil ekleyebilirsiniz */
}

.home-container.sidebar-open {
    margin-left: 261px;
}

.scrollbar-hide {
    scrollbar-width: none; /* Firefox için kaydırma çubuğunu gizle */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* WebKit tabanlı tarayıcılar için kaydırma çubuğunu gizle */
}

.new-column-button {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
