.sidebar {
    width: 250px; /* Fixed width */
    background-color: #fff ;
    padding: 40px 20px 40px 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;    
}



.sidebar-line {
    width: 100%;
    height: 1px;
    background-color: #c0c0c0; /* Light gray color */
}


.sidebar-workspaces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-plus-icon{
    cursor: pointer;
}

.ml1{
    margin-left: 1rem;
}

.sidebar-submenu-dot{
    margin-right: 1rem;
}

.sidebar-menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.add-workspace{
    color: rgba(172, 172, 172, 1);
}

.sidebar-blue-letter{
    color: rgba(28, 60, 132, 1);
    font-size: 15px;
    line-height: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}

.sidebar-submenu {
    padding-left: 20px; /* Indent the dropdown items */
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-submenu span {
    display: block; /* Make each submenu item a block */
    margin: 5px 0;
  }