/*.modal-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow-y: auto;
    z-index: 50;
  }
  
  .modal-content-trello {
    max-height: 95vh;
    margin: auto;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(54, 78, 126, 0.1);
    max-width: 640px;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
  }
  
  .modal-content.dark-mode {
    background-color: #2b2c37;
    color: white;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .modal-header h1 {
    font-size: 1.125rem;
  }
  
  .elipsis-icon {
    cursor: pointer;
    height: 24px;
  }
  
  .modal-description {
    color: #6b7280;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 0.75rem;
    padding-top: 24px;
  }
  
  .subtasks-info {
    padding-top: 24px;
    color: #6b7280;
    letter-spacing: 0.1rem;
    font-size: 0.875rem;
  }
  
  .subtasks-wrapper {
    margin-top: 12px;
    space-y: 8px;
  }
  
  .select-status {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #d1d5db;
    outline: none;
    font-size: 0.875rem;
    width: 100%;
  }
  
  .select-status:focus {
    border-color: #635fc7;
  }
  
  .status-options {
    font-size: 0.875rem;
  }
  
  .delete-modal,
  .add-edit-task-modal {
    /* Add any modal-specific styling here */

      /* Yeni Eklenenler */



  .modal-content-trello{
    display: flex;
    flex-direction: column;
  }

  .taskcard-info-upper-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .taskcard-infor-right-upper{
    display: flex;
    gap: 1rem;
  }

  .taskcard-info-line{
    width: 100%;
    border-bottom: 1px solid gray;
  }

  .taskcard-info-lower-area{
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
  }

  .taskcard-info-left-lower{
    gap:1rem;
    display: flex;
    flex-direction: column;
    width: 700px;
  }

  .taskcard-info-right-lower{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 215px;
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border-radius: 1rem;
    padding: 1rem;
  }

  .taskcard-info-title-area{
    font-size: 32px;
    margin: 0;
    width: 100%;
    height: 50px;
  }

  .taskcard-info-description-area{
    width: 100%;
    height:250px ;
    flex: 1;
  }

  .taskcard-info-comment-area{
    margin-top: 1rem;
    flex:1;
    width: 100%;
    height:250px ;
  }

  .taskcard-info-description{
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    height: 90px;
  }

  .taskcard-info-comment{
    padding: 1rem;
    width: 100%;
    height: 90px;
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border-radius: 1rem;

  }

  .taskcard-info-subtask-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border-radius: 1rem;
  }

  .taskcard-info-subtack-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .taskcard-info-gray-letter{
    color: rgba(172, 172, 172, 1);
  }

  .generate-subtask-button{
    width: 156px;
    height: 40px;
    background-color: rgba(54, 197, 240, 1);
    border: none;
    border-radius: 25px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }


  .checklist-checkbox{
    width: 24px;
    height: 24px;
  }

  .taskcard-info-checklist-area{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(241, 241, 241, 1);
    background-color: rgba(241, 241, 241, 1);
    border-radius: 1rem;
    margin-top: 1rem;
  }

.taskcard-info-assignees,.taskcard-info-due-date,.taskcard-info-status,.taskcard-info-priority,.taskcard-info-features{
  display: flex;
  justify-content: space-between;
}

.td-none{
  text-decoration: none;
  color: rgba(148, 163, 184, 1);
  text-align: center;
  display: flex;
  gap: 1rem;
}

.modal-wrapper{
  display: flex;
  justify-content: center;
}

.modal-content-trello {
  width: 1000px;
  height: 850px;
  background-color: white;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 0 8px rgba(54, 78, 126, 0.1);
}

.taskcard-info-textarea {
  width: 90%;
  height: 90px;
  border: 1px solid rgba(241, 241, 241, 1);
  background-color: rgba(241, 241, 241, 1);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 14px;
  resize: none;
  cursor: pointer;
}
  